{% load static %}


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo me-lg-0">
        <h1><a href="index.html"><img src="{% static 'assets/img/letusLogo.png' %}"  alt="" class="img-fluid"><span>Let Us Think </span>Green</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
         <!--<a href="index.html"><img src="{% static 'assets/img/letusLogo.jpg' %}"  alt="" class="img-fluid"></a> -->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          {% for item in menu_list %}
          {% if item.parent_id is None and item.IsClickable is not True %}
            <li class="dropdown"><a href="{% url 'pages:page' item.Slug %}" onclick="return false"><span>{{item.PageTitle}}</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                {% for subitem in menu_list  %}
                  {% if item.id == subitem.parent_id %}
                    <li><a href="{% url 'pages:page' subitem.Slug %}">{{subitem.PageTitle}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
          {% endif %}
          {% if item.parent_id is None and item.IsClickable is  True %}
          <li class="dropdown"><a href="{% url 'pages:page' item.Slug %}" ><span>{{item.PageTitle}}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for subitem in menu_list  %}
                {% if item.id == subitem.parent_id %}
                  <li><a href="{% url 'pages:page' subitem.Slug %}">{{subitem.PageTitle}}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
          {% endfor %}
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      {% comment %} <div class="logo me-rg-0">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html"><img src="{% static 'assets/img/teksav_logo.jpg' %}"  alt="" class="img-fluid"></a> 
      </div> {% endcomment %}
    </div>
  </header><!-- End Header -->


