{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <a class="logo me-auto me-lg-0"><img src="{% static 'assets/img/letusLogo.png' %}" alt="" class="img-fluid" style="margin-right:20px;"></a>
    <h1 class="logo me-auto"><a>Let Us Think <span>Green</span></a></h1>

    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        {% for item in menu_list %}
        {% if item.parent_id is None and item.IsClickable is not True %}
          <li class="dropdown"><a href="{% url 'pages:page' item.Slug %}" onclick="return false"><span>{{item.PageTitle}}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for subitem in menu_list  %}
                {% if item.id == subitem.parent_id %}
                  <li><a href="{% url 'pages:page' subitem.Slug %}">{{subitem.PageTitle}}</a></li>
                {% endif %}
              {% endfor %} 
             </ul> 
        {% endif %}
        {% if item.parent_id is None and item.IsClickable is  True %}
          <li '''class="dropdown" '''><a href="{% url 'pages:page' item.Slug %}"><span>{{item.PageTitle}}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for subitem in menu_list  %}
                {% if item.id == subitem.parent_id %}
                  <li><a href="{% url 'pages:page' subitem.Slug %}">{{subitem.PageTitle}}</a></li>
                {% endif %}
              {% endfor %} 
             </ul> 
        {% endif %}
        {% endfor %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <div class="header-social-links d-flex">
      <a href="https://twitter.com/08mart1993" target="_blank" class="twitter"><i class="bu bi-twitter"></i></a>
      <a href="https://www.facebook.com/cemal.kutlu.7906" target="_blank" class="facebook"><i class="bu bi-facebook"></i></a>
      <!---<a href="https://www.instagram.com/igdir_univ/" class="instagram"><i class="bu bi-instagram"></i></a>-->
      <a href="https://www.linkedin.com/in/tek-sav-vakfi-a73018156/" target="_blank"  class="linkedin"><i class="bu bi-linkedin"></i></i></a>

    </div>
    <a  class="logo me-auto me-lg-0" href='https://www.teksav.org.tr/' target="_blank" ><img src="{% static 'assets/img/teksav_logo.jpg' %}" alt="" class="img-fluid" style="margin-left:20px;"></a>
  </div>
</header><!-- End Header -->