{% load static %}

        <section id="about-us" class="about-us">
          <div class="container" data-aos="fade-up">
    
            <div class="row content" >
              <div class="col-lg-9" data-aos="fade-right" style="padding-right:5%;">
                <h1>Short Info About Let us Think Green Project</h1>
                <h3 style="text-align: justify">The objective of the &quot; Let us Think Green” Project is to raise awareness and consciousness about the importance of keeping a clean, green and sustainable environment including clean water sources, atmosphere, the seas and beaches in the project countries and the EU.</h3>
                <h3></h3>
                <h3 style="text-align: justify">5 Non-governmental organizations from different regions of Europe (TEK-SAV-Turkiye, Koinoniki Anaptyksi Neon / K.A.NE- Greece, Kalistratia OdV - Italy, Asociacija TAVO Europa -Lithuania and Walk Together Association - Bulgaria) are  collaborating to achieve the objectives outlined in the European Union&#39;s Green Deal’s targets.</h3>
                <h3 style="text-align: justify">Project has 4 work packages , Project  started on 01 February 2023 and will finish on 31 January 2025.  All project outputs and materials  will be published on the project web site.</h3>
                <h3 style="text-align: justify">Please follow us from web sites and social media and send your opinion and recommendations.</h3>
                <h3 style="text-align: justify">Let us build a green  and clean  environment to live healthier and happier in the world.</h3>
              </div>
              <div class="col-lg-3 pt-4 pt-lg-0" data-aos="fade-left" style='line-height:3em;overflow:scroll;padding:5px; max-height: 550px;'>
                <a class="twitter-timeline" href="https://twitter.com/08mart1993?ref_src=twsrc%5Etfw">Tweets by 08mart1993</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

              </div>
            </div>
    
          </div>
        </section><!-- End About Us Section -->