{% load static %}


      <section id="clients" class="clients" style="margin-bottom:25px;margin-top:25px;">
        <div class="container" data-aos="fade-up">
  
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <h2>Our partners</h2>
            </div>
          </div>
        </div>
  
          <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">
            <div class="col-lg-4 col-md-4 col-6">
              <div class="client-logo">
                <img src="{% static 'assets/img/clients/teksav_logo.jpg' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-4 col-md-4 col-6">
              <div class="client-logo">
                <img src="{% static 'assets/img/clients/WALKTOGETHER_LOGO.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-4 col-md-4 col-6">
              <div class="client-logo">
                <img src="{% static 'assets/img/clients/LogoTavo.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-4 col-md-4 col-6">
              <div class="client-logo">
                <img src="{% static 'assets/img/clients/kalistratia-LOGO.jpg' %}" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
              <div class="client-logo">
                <img src="{% static 'assets/img/clients/kane-new-logo.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
  
          </div>
  
        </div>
      </section><!-- End Our Clients Section -->

{% comment %} 
    <!-- ======= Services Section ======= -->
    <div id="services" class="services-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <h2>Our Services</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <!-- Start Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">

                    <img src="{% static 'assets/img/clients/teksav_logo.jpg' %}" class="img-fluid" alt="">
   
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">

                  <img src="{% static 'assets/img/clients/WALKTOGETHER_LOGO.png' %}" class="img-fluid" alt="">
   
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">

                  <img src="{% static 'assets/img/clients/LogoTavo.png' %}" class="img-fluid" alt="">
   
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">

                  <img src="{% static 'assets/img/clients/kalistratia-LOGO.jpg' %}" class="img-fluid" alt="">
   
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">

                <img src="{% static 'assets/img/clients/kane-new-logo.png' %}" class="img-fluid" alt="">
   
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>

        </div>
      </div>
    </div><!-- End Services Section -->

      <!-- ======= Team Section ======= -->
    <div id="team" class="our-team-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Our special Team</h2>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{% static 'assets/img/clients/teksav_logo.jpg' %}" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{% static 'assets/img/clients/WALKTOGETHER_LOGO.png' %}" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{% static 'assets/img/clients/LogoTavo.png' %}" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{% static 'assets/img/clients/kalistratia-LOGO.jpg' %}" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{% static 'assets/img/clients/kane-new-logo.png' %}" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </div>
          <!-- End column -->
        </div>
      </div>
    </div><!-- End Team Section -->
       {% endcomment %}