{% load static %}


      <section id="clients" class="clients">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Partners</h2>


          </div>
  
          <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">
            <div class="col-lg-4 col-md-4 col-6">
              <div class="client-logo">
                <img src="{% static 'assets/img/clients/teksav_logo.jpg' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-4 col-md-4 col-6">
              <div class="client-logo">
                <img src="{% static 'assets/img/clients/WALKTOGETHER_LOGO.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-4 col-md-4 col-6">
              <div class="client-logo">
                <img src="{% static 'assets/img/clients/LogoTavo.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-4 col-md-4 col-6">
              <div class="client-logo">
                <img src="{% static 'assets/img/clients/kalistratia-LOGO.jpg' %}" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6">
              <div class="client-logo">
                <img src="{% static 'assets/img/clients/kane-new-logo.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
  
          </div>
  
        </div>
      </section><!-- End Our Clients Section -->

      