{% load static %}

<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 entries">
          <div class="section-title">
            <h2>Our Partners</h2>
          </div>
        <div class="blog-author d-flex align-items-center">
          <img src="{% static 'assets/img/clients/teksav_logo.jpg' %}"  class="float-left" alt="">
          <div>
            <a href="https://www.teksav.org.tr/"><h3 >Tekniker Eğitim Kültür Sağlık Vakfı (TEK-SAV)</h3></a>

            <p>
              TEK-SAV is lead organization of “Let us Think Green” Project.
              Technician Education Culture Health Foundation (TEK-SAV) has been established
              as a Non-Governmental Organization on 08 March 1993 in Ankara –Turkiye and It
              has branch in Mugla since 2021.
            </p>
            <div class="row content">
              <div class="col-lg-6" data-aos="fade-right">
                <h5>President : Cemal KUTLU</h5>
                <h5>Project Coordinator: Dr. Riza Gürbüz</h5>
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
                <h5>E-mail: kutlu.cemal@gmail.com</h5>
                <h5>E-Mail: rizagurbuz@gmail.com</h5>
                <h5>E-Mail: teksavinfo@gmail.com</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-author d-flex align-items-center">
          <img src="{% static 'assets/img/clients/WALKTOGETHER_LOGO.png' %}"  class="float-left" alt="">
          <div>
            <a href="https://www.facebook.com/pages/WalkTogether/1546632572269496?fref=ts"><h3 >Association WalkTogether</h3></a>

            <p>
              Association WalkTogether (WT) is created in 2013 in Sofia - Bulgaria to serves
              as a learning organization that gathers trainers, youth learner, youth policy
              makers, experts, and youth volunteers with different levels of competences to
              actively be involved in the creation of civic activities with European dimension and
              with benefits for their local community.
            </p>
            <div class="row content">
              <div class="col-lg-6" data-aos="fade-right">
                <h5>President: Elena Stancheva</h5>
                <h5>Coordinator: Vilislava Metodieva</h5>
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
                <h5>E-Mail: walktogetherbulgaria@gmail.com</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-author d-flex align-items-center">
          <img src="{% static 'assets/img/clients/kalistratia-LOGO.jpg' %}"  class="float-left" alt="">
          <div>
            <a href="https://www.kalistratia.org/"><h3 >Kalistratia</h3></a>

            <p>
              KALISTRATIA is Italian Association has been established in Polia-Italy in 2019.
              and it focuses permaculture techniques and Green Environment activities since
              2019, It has been organizing ECO fest for the last 2 years in Polia -Italia
            </p>
            <div class="row content">
              <div class="col-lg-6" data-aos="fade-right">
                <h5>President : Antonio Bova</h5>
                <h5>Coordinator : liliangela Callea</h5>
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
                <h5>E-Mail: a.bova@kalistratia.org</h5>
                <h5>E-Mail: lustrapomella@gmail.com</h5>
                <h5>E-Mail: info@kalistratia.org</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-author d-flex align-items-center">
          <img src="{% static 'assets/img/clients/LogoTavo.png' %}"  class="float-left" alt="">
          <div>
            <a href="https://www.tavoeuropa.eu/"><h3 >Tavo Europa</h3></a>

            <p>
              Tavo Europa as Lithuanian Association is created to serve as a learning
              organization that gathers trainers, youth and social workers, youth policy makers,
              experts, and volunteers with different levels of competencies to be actively
              involved in the creation of civic activities with European dimension and with
              benefits for their local communities.
            </p>
            <div class="row content">
              <div class="col-lg-6" data-aos="fade-right">
                <h5>President : Donatas Verseckas</h5>
                <h5>Coordinator: Greata Paskociumaite</h5>
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
                <h5>E-Mail: donatas@tavoeuropa.eu</h5>
                <h5>E-Mail: greta@tavoeuropa.eu</h5>
                <h5>E-Mail: info@tavoeuropa.eu</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-author d-flex align-items-center">
          <img src="{% static 'assets/img/clients/K.A.NE.png' %}"  class="float-left" alt="">
          <div>
            <a href="https://ngokane.org/en/home-page/"><h3 >K.A.NE.</h3></a>

            <p>
              Social Youth Development, K.A.NE., is a non-governmental and non-profit
              organisation active in the fields of Education, Environment, Sustainability, Youth,
              Social Inclusion, Vocational Training and Culture. K.A.NE. was founded in 2008 in
              Kalamata, Greece. The organisation’s main objectives are to foster youth
              motivation for active citizenship, to promote environmental thinking locally and
              internationally, and to support personal and professional development of people
              through educational activities, especially targeting people at risk or facing social
              exclusion, young people in general and adult/vet learners.
            </p>
            <div class="row content">
              <div class="col-lg-6" data-aos="fade-right">
                <h5>Director : Filaretos Vourkos</h5>
                <h5>Coordinator: Spiros Koutsogiannis</h5>
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
                <h5>E-Mail: info@ngokane.org</h5>
                <h5>E-Mail: kane@ngokane.org</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>