{% load static %}


<section id="contact" class="contact">
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-lg-10">
                <div class="info-wrap">
                    <div class="row">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6119.100496339138!2d32.843662!3d39.92908!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34efcbd46e243%3A0x6fada2d5d6ca503a!2zTWFsdGVwZSwgxZ5odC4gw4dldGluIEfDtnJnw7wgU2suIE5vOjksIDA2NTcwIMOHYW5rYXlhL0Fua2FyYQ!5e0!3m2!1str!2str!4v1677704223894!5m2!1str!2str" width="100%" height="700" style="allign:center;" allowfullscreen="True" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


