{% load static %}
<section id="contact" class="contact">
    <div class="container">

        <div class="row justify-content-center" data-aos="fade-up">

            <div class="col-lg-10">

                <div class="info-wrap">
                    <div class="row">
                        <div class="col-lg-4 info">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>Şehit Çetin Görgü Sokak,<br>No: 09 / 10 Maltepe 06570<br>Çankaya / Ankara</p>
                        </div>

                        <div class="col-lg-4 info mt-4 mt-lg-0">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>teksavinfo@ gmail.com<br>rizagurbuz@gmail.com<br>kutlu.cemal@gmail.com</p>
                        </div>

                        <div class="col-lg-4 info mt-4 mt-lg-0">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>Cemal Kutlu<br>0532 344 0 257 </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>