{% load static %}
{% include "partials/_header.html" %}
{% include "partials/_navbar.html" %}

{% block navbar %}


{% endblock navbar %}

{% block hero %}
{% endblock hero %}


  <main id="main">

{% block content %}
{% endblock content %}

{% block about %}
        <!-- ======= About Us Section ======= -->
        <section id="about-us" class="about-us">
          <div class="container" data-aos="fade-up">
    
            <div class="row content" >
              <div class="col-lg-9" data-aos="fade-right" style="padding-right:5%;">
                <h1>Short Info About Let us Think Green Project</h1>
                <h3 style="text-align: justify">The objective of the &quot; Let us Think Green” Project is to raise awareness and consciousness about the importance of keeping a clean, green and sustainable environment including clean water sources, atmosphere, the seas and beaches in the project countries and the EU.</h3>
                <h3></h3>
                <h3 style="text-align: justify">5 Non-governmental organizations from different regions of Europe (TEK-SAV-Turkiye, Koinoniki Anaptyksi Neon / K.A.NE- Greece, Kalistratia OdV - Italy, Asociacija TAVO Europa -Lithuania and Walk Together Association - Bulgaria) are  collaborating to achieve the objectives outlined in the European Union&#39;s Green Deal’s targets.</h3>
                <h3 style="text-align: justify">Project has 4 work packages , Project  started on 01 February 2023 and will finish on 31 January 2025.  All project outputs and materials  will be published on the project web site.</h3>
                <h3 style="text-align: justify">Please follow us from web sites and social media and send your opinion and recommendations.</h3>
                <h3 style="text-align: justify">Let us build a green  and clean  environment to live healthier and happier in the world.</h3>
              </div>
              <div class="col-lg-3 pt-4 pt-lg-0" data-aos="fade-left" style='line-height:3em;overflow:scroll;padding:5px; max-height: 550px;'>
                <a class="twitter-timeline" href="https://twitter.com/08mart1993?ref_src=twsrc%5Etfw">Tweets by 08mart1993</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

              </div>
            </div>
    
          </div>
        </section><!-- End About Us Section -->
{% endblock about %}

<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 entries">
        <div class="blog-author d-flex align-items-center">
          <img src="{% static 'assets/img/clients/WALKTOGETHER_LOGO.png' %}"  class="float-left" alt="">
          <div>
            <h4>Association WalkTogether</h4>

            <p>
              Association WalkTogether (WT) is created in 2013 in Sofia - Bulgaria to serves
              as a learning organization that gathers trainers, youth learner, youth policy
              makers, experts, and youth volunteers with different levels of competences to
              actively be involved in the creation of civic activities with European dimension and
              with benefits for their local community.
            </p>
            <p>
              Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
            </p>
            <p>
              Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
            </p>
            <p>
              Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
            </p>
          </div>
        </div><!-- End blog author bio -->
    </div>
  </div>
</section>


{% block clients %}
      <!-- ======= Our Clients Section ======= -->
      <section id="clients" class="clients">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Partners</h2>


          </div>
  
          <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">
  
            <div class="col-lg-3 col-md-4 col-6">
              <div class="client-logo">
                <img src="{% static 'assets/img/clients/WALKTOGETHER_LOGO.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-6">
              <div class="client-logo">
                <img src="{% static 'assets/img/clients/LogoTavo.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-6">
              <div class="client-logo">
                <img src="{% static 'assets/img/clients/kalistratia-LOGO.jpg' %}" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <div class="client-logo">
                <img src="{% static 'assets/img/clients/kane-new-logo.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
  
          </div>
  
        </div>
      </section><!-- End Our Clients Section -->
{% endblock clients %}



  </main><!-- End #main -->


{% include "partials/_footer.html" %}